html, body, #application {
    height: 100%;
}

.pageHeader {
    height: 20%;
}

.pageHeader h1 {
    position:relative;
    top:50%;
}

.vertical-center {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

PageHeader .background-jasper {
    background-color: #D64541;
    color: #ECECEC;
}

PageHeader .background-mako {
    background-color: #525659;
    color: #ECECEC;
}
